/* File: src/assets/css/AdminPanel.css */

.admin-panel {
  padding: 20px;
  background-color: #f4f4f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-panel h1 {
  font-size: 2rem;
  color: #2D4654;
  margin-bottom: 20px;
}

.admin-panel p {
  font-size: 1.2rem;
  color: #757575;
  margin-bottom: 30px;
}

.add-place-form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-place-form h2 {
  font-size: 1.5rem;
  color: #2D4654;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 1rem;
  color: #2D4654;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group textarea {
  resize: vertical;
  height: 100px;
}

.tags-checkboxes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag-checkbox {
  font-size: 1rem;
  color: #2D4654;
}

.tag-checkbox input {
  margin-right: 5px;
}

.submit-button {
  background-color: #B0809E;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: #4E4D5C;
}
