/* src/assets/css/AdminPanel.css */

.admin-panel {
  padding: 20px;
}

.admin-panel h1 {
  font-size: 2rem;
  color: #2D4654;
}

.admin-panel p {
  font-size: 1.2rem;
  color: #757575;
}

.requests-list {
  margin-top: 20px;
}

.requests-list h2 {
  font-size: 1.5rem;
  color: #2D4654;
}

.add-place-form {
  margin-top: 20px;
}

.add-place-form h2 {
  font-size: 1.5rem;
  color: #2D4654;
}

.add-place-form form {
  display: flex;
  flex-direction: column;
}

.add-place-form form div {
  margin-bottom: 10px;
}

.add-place-form label {
  font-size: 1.2rem;
  color: #2D4654;
}

.add-place-form input, .add-place-form textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.add-place-form button {
  background-color: #B0809E;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.add-place-form button:hover {
  background-color: #4E4D5C;
}
