/* src/assets/css/Home.css */

.home {
  padding: 20px;
  text-align: center;
}

.home-header {
  margin-bottom: 40px;
}

.home-header h1 {
  font-size: 3rem;
  color: #2D4654; /* Колір заголовка */
}

.home-header p {
  font-size: 1.5rem;
  color: #757575; /* Колір підзаголовка */
}

.intro {
  margin: 20px 0;
}

.intro p {
  font-size: 1.2rem;
  color: #757575; /* Колір тексту */
}

.explore-button {
  background-color: #B0809E; /* Колір кнопки */
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.explore-button:hover {
  background-color: #4E4D5C; /* Колір кнопки при наведенні */
}
