/* src/assets/css/Navbar.css */

.navbar {
  background-color: #87BCDE;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  height: 50px;
  overflow: hidden;
  position: relative;
}

.navbar:hover,
.navbar.active {
  background-color: #96BBD1;
  height: 150px;
}

.navbar-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  flex-direction: column;
  transition: all 0.3s ease;
  justify-content: center;
  height: 100%;
}

.navbar-logo {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.navbar:hover .navbar-logo,
.navbar.active .navbar-logo {
  animation: none;
  position: static;
  transform: translateY(0);
  margin-bottom: 10px;
  animation: bounce 0.6s ease-out forwards;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1.1);
  }
}

.navbar-logo:hover {
  color: #4E4D5C;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 500px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  margin-top: 10px;
}

.navbar:hover .search-container,
.navbar.active .search-container {
  opacity: 1;
  transform: translateY(0);
}

.search-input {
  border: none;
  outline: none;
  padding: 5px;
  flex: 1;
  font-size: 14px;
  border-radius: 20px;
}

.search-button {
  background-color: #B0809E;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.search-button .search-icon {
  font-size: 16px;
}

.search-button:hover {
  background-color: #4E4D5C;
}

