.profile {
  padding: 20px;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-header h1 {
  font-size: 2rem;
  color: #2D4654;
}

.profile-actions {
  display: flex;
  gap: 10px;
}

.profile-button {
  background-color: #B0809E;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.profile-button:hover {
  background-color: #4E4D5C;
}

.places-section {
  margin-top: 20px;
}

.places-section h2 {
  font-size: 1.5rem;
  color: #2D4654;
  margin-bottom: 10px;
}

.places-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.place-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: calc(33.333% - 20px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.place-card h3 {
  font-size: 1.2rem;
  color: #2D4654;
}

.place-card p {
  font-size: 1rem;
  color: #757575;
}
